{
  "POSITIVE": "201",
  "NEGATIVE": "202",
  "PENDING": "203",
  "INCONCLUSIVE": "204",
  "ERROR": "205",
  "INSTRUMENT_TIME": "206",
  "DETECTION_TIME": "207",
  "PROTOCOL_NAME": "208",
  "BOTTLE_TYPE": "209",
  "ORGANISM_TYPE": "210"
}
