{
    "WBC": "[IBLIS_MEASURE_ID]",
    "RBC": "[IBLIS_MEASURE_ID]",
    "HGB": "[IBLIS_MEASURE_ID]",
    "HCT": "[IBLIS_MEASURE_ID]",
    "MCV": "[IBLIS_MEASURE_ID]",
    "MCH": "[IBLIS_MEASURE_ID]",
    "MCHC": "[IBLIS_MEASURE_ID]",
    "PLT": "[IBLIS_MEASURE_ID]",
    "NEUT%": "[IBLIS_MEASURE_ID]",
    "LYMPH%": "[IBLIS_MEASURE_ID]",
    "MONO%": "[IBLIS_MEASURE_ID]",
    "EO%": "[IBLIS_MEASURE_ID]",
    "BASO%": "[IBLIS_MEASURE_ID]",
    "NEUT#": "[IBLIS_MEASURE_ID]",
    "LYMPH#": "[IBLIS_MEASURE_ID]",
    "MONO#": "[IBLIS_MEASURE_ID]",
    "EO#": "[IBLIS_MEASURE_ID]",
    "BASO#": "[IBLIS_MEASURE_ID]",
    "RDW-CV": "[IBLIS_MEASURE_ID]",
    "PDW": "[IBLIS_MEASURE_ID]",
    "MPV": "[IBLIS_MEASURE_ID]",
    "PCT": "[IBLIS_MEASURE_ID]"
}
