{
  "WBC": "169",
  "RBC": "147",
  "HGB": "151",
  "HCT": "149",
  "MCV": "161",
  "MCH": "159",
  "MCHC": "162",
  "PLT": "142",
  "LYMPH": "154",
  "LYMPH%": "155",
  "LYMPH#": "156",
  "MONO": "157",
  "MONO%": "158",
  "MONO#": "160",
  "NEUT": "163",
  "NEUT%": "164",
  "NEUT#": "165",
  "EOS": "166",
  "EOS%": "167",
  "EOS#": "168",
  "BASO": "170",
  "BASO%": "171",
  "BASO#": "172",
  "RDW-CV": "148",
  "RDW-SD": "173",
  "PDW": "174",
  "MPV": "175",
  "P-LCR": "176",
  "PCT": "177"
}
