{
  "port": 5500,
  "host": "0.0.0.0",
  "lisPath": "http://127.0.0.1:8005/api/v1/interfacer?specimen_id=#{SPECIMEN_ID}&measure_id=#{MEASURE_ID}&result=#{RESULT}&dec=0&machine_name=#{MACHINE_NAME}",
  "lisUser": "username",
  "lisPassword": "password",
  "machineName": "BIOBASE-BK200",
  "timeout": 30000,
  "socketTimeout": 30000,
  "maxConnections": 10,
  "retryAttempts": 3,
  "retryDelay": 5000
}
